<div class="modal-backdrop" (click)="close.emit()"></div>

<div class="transaction-modal">
  <h3 [class.errorTxt]="errorTxt">
    <b>{{ errorTxt ? errorTxt : data ? 'Edit Transaction' : 'New Transaction' }}</b>
  </h3>

  <form (ngSubmit)="submit()" [formGroup]="transactionForm">
    <label>
      Type *
      <select formControlName="type" name="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select>
    </label>

    <label>
      Category *
      <select formControlName="category" name="category">
        <option value="" disabled>Select category</option>
        <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
      </select>
    </label>

    <label>
      Amount *
      <input type="number" formControlName="amount" name="amount" required />
    </label>

    <label>
      Date *
      <input type="date" formControlName="date" name="date" required />
    </label>
    <label>
      Notes *
      <textarea formControlName="notes" name="notes"></textarea>
    </label>

    <div class="actions">
      <div class="delete-action">
        <ng-container *ngIf="data">
          <input type="checkbox" (change)="toggleDelete($event)" /> <label>Delete</label>
        </ng-container>
      </div>
      <div class="other-actions">
        <button type="button" class="cancel" (click)="close.emit()">Cancel</button>
        <button type="submit" class="save" [class.delete]="deleteCheck">
          {{ deleteCheck ? 'Delete' : 'Save' }}
        </button>
      </div>
    </div>
  </form>
</div>
