<div class="primary-card">
  <div class="pc-first-block">
    <h6>Total balance</h6>
    <h2 class="amount">
      <span class="rupees">
        {{ getDashboardData().balance | currency: 'INR' : 'symbol' : '1.0-0' }}
      </span>
      <span class="paise"> .{{ (getDashboardData().balance % 1) * 100 | number: '2.0' }} </span>
    </h2>
  </div>

  <div class="pc-actions">
    <button class="pc-action" (click)="addTypeBasedTransaction('expense')">
      <img src="https://cdn-icons-png.flaticon.com/512/3176/3176833.png" alt="" /> Send
    </button>
    <button class="pc-action" (click)="addTypeBasedTransaction('income')">
      <img src="https://cdn-icons-png.flaticon.com/512/3176/3176837.png" alt="" /> Receive
    </button>
  </div>
  <div class="pc-transaction">
    <div class="pct-head">
      <!-- <img src="https://cdn-icons-png.flaticon.com/512/6785/6785394.png" alt="" /> -->
      <h6>Recent</h6>
    </div>
    <div class="pct-wrapper">
      <ng-container *ngFor="let item of transactions.slice(0, 2); let i = index">
        <app-sub-transaction [transaction]="item" [ngClass]="'ast_' + i"></app-sub-transaction>
      </ng-container>
      <div class="pct-add ast_2" (click)="addTransaction()">
        <img src="https://cdn-icons-png.flaticon.com/512/8191/8191584.png" />
      </div>
    </div>
  </div>
</div>
