.dashboard{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // margin: 70px 0px;
  .ds_1{
    height: 400px;
    .row{
      .ds_1_col{
        display: flex;
        align-items: center;
        // justify-content: center;
      }
      .ds_1_col_2{
        height: 400px;
        overflow-y: auto;
        scrollbar-width: none;
        justify-content: center;
      }
    }
  }
}

@media(max-width:991px){
  .dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    .ds_1{
      height: auto;
    }
  }
}
